.separator *.line {
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: #4b4b4b;
}

.menu-bar {
    -fx-background-color: #3b3b3b;
    -fx-text-fill: #9b9b9b;
}

.menu .label{
    -fx-text-fill: #9b9b9b;
}

.menu:showing {
    -fx-background-color: #3b3b3b;
}

.menu:hover {
    -fx-background-color: #3b3b3b;
    -fx-text-fill: #9b9b9b;
}

.context-menu {
    -fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";
    -fx-background-color: #3b3b3b;
    -fx-border-width: 0.2px;
    -fx-border-color: #9b9b9b;
    -fx-text-fill: #9b9b9b;
}

.menu-item:focused .label {
    -fx-background-color: #2b2b2b;
}

.menu-item:focused {
    -fx-background-color: #2b2b2b  ;
}

.scroll-pane {
    -fx-background-color: #4b4b4b;
}

VBox {
    -fx-background-color: #2b2b2b;
}

Button {
    -fx-background-color: #3b3b3b;
    -fx-text-fill: #9b9b9b;
    -fx-background-radius: 3px;
    -fx-pref-width: 150px;
    -fx-pref-height: 40px;
    -fx-font-size: 18px;
}