.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-background-color:  #2b2b2b;
}
.table-view .column-header .label{
    -fx-text-fill: #9b9b9b;
    -fx-font-weight: bold;
}
.table-view .cell{
    -fx-table-cell-border-color: #2b2b2b;
    -fx-background-color: #3b3b3b;
    -fx-text-fill: #9b9b9b;
    -fx-alignment: CENTER_LEFT;
    -fx-border-width: 2px;
}

.table-row-cell:selected {
    -fx-border-color: #2b2b2b;
    -fx-border-width: 2px;
}
.table-view {
    -fx-pref-height: 100vh;
}

.text-field {
    -fx-background-color: #4b4b4b;
    -fx-text-fill: #9b9b9b;
}
